.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box {
  background: linear-gradient(#34113f, #beb7df);
  width: 25%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box input {
  margin-top: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.box button {
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px;
}
